* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  line-height: 1.375;
  height: 100%;
  color: #333;
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC,
    Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei,
    sans-serif;
}

#app {
  height: 100%;
}

textarea,
input {
  outline: none;
  border: none;
  -webkit-appearance: none;
}

textarea {
  resize: none;
}

*:focus {
  outline: none;
}
